<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{event.title}}">
  <ion-content >
    <img class="event-profile" ng-src="{{event.pic}}" >
    <section class="padding">
      <div class="event-caption row">
        <p class="event-catalog col col-30">{{event.category}}</p>
        <p class="event-date col col-70">{{event.time | date: 'MMM dd h:mma'}}</p>
      </div>
      <article class="event-description">
        {{event.description}}
      </p>
      </article>


      <ion-list>
      <ion-item class="item-remove-animate item-icon-right group-list" ng-repeat="group in event.groups track by $index" type="item-text-wrap" href="#/tab/results/{{event.id}}">
        <!-- <img ng-src="{{event.pic}}"></img> -->
        <div class="row">

          <span class="ion-android-bus col col-10 tag" ng-if="group.transport=='public' "></span>
          <span class="ion-android-car col col-10 tag" ng-if="group.transport=='private' "></span>

          <p class="col col-80"><span>Buddies: </span>{{print(group.users)}}</p>
        </div>
        <article class="group-info" ng-if="group.location">
          <p ng-if="group.location"><span class="ion-ios-location"></span>{{group.location}}<span class="ion-clock"></span>Meet at {{group.time | date: 'h:mma'}}</p>
          <p ng-if="group.contact"><span class="ion-ios-telephone"></span>{{group.contact}}</p>
        </article>
      <div>
        <p class="icon small" ng-if="$index==selectedGroupIndex">Joined</p>
        <i class="icon ion-ios-checkmark-outline green" ng-click="register($index, group)" ng-if="group.owner != userId && $index!=selectedGroupIndex" ></i>
        <i class="icon ion-ios-checkmark green" ng-click="deregister(group)" ng-if="group.owner != userId && $index == selectedGroupIndex" ></i>
        <i class="icon ion-ios-close-outline" ng-click="deleteGroup()" ng-if="group.owner == userId" ></i>

      </div>

        <ion-option-button class="button-assertive" ng-click="remove(event)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>

    <button id="create-private-btn" class="button button-block button-energized" ng-click="createGroup(true)">
      Create Carpooling Group
    </button> 
    <button id="create-public-btn" class="button button-block button-balanced" ng-click="createGroup(false)">
      Create Public Group
    </button> 
    <button id="solo-btn" class="button button-block button-royal" ng-click="goSolo()">
      Go alone
    </button>  
  </ion-content>
</ion-view>
