<ion-view view-title="Search Event">
  <ion-content id="search">
    <label class="item item-input item-stacked-label">
      <div class="row">
          <div class="col col-33"><p class="info-label">Date</p></div>
          <div class="col col-67">
            <input type="date" ng-model="search.date">
          </div>
      </div>
    </label>
    <label class="item item-input item-stacked-label">
      <div class="row">
          <div class="col col-33"><p class="info-label">Location</p></div>
          <div class="col col-67">
            <input type="text" ng-model="search.location">
          </div>
      </div>
    </label>
    <label class="item item-input item-stacked-label">
      <div class="row">
          <div class="col col-33"><p class="info-label">Category</p></div>
          <div class="col col-67">
          <select ng-model="search.category">
            <option>Museum</option>
            <option>Flower</option>
            <option>Art</option>
          </select>          
        </div>
      </div>
    </label>
      <button id="search-btn" class="button button-block button-positive" ng-click="search()">
        Search Event
      </button> 

  </ion-content>
</ion-view>
