<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-positive">

  <!-- Search Tab -->
  <ion-tab title="Search" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <!-- Map Tab -->
  <ion-tab title="Map" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>

  <!-- Attending Tab -->
  <ion-tab title="Attending" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/events">
    <ion-nav-view name="tab-events"></ion-nav-view>
  </ion-tab>

  <!-- Preference Tab -->
  <ion-tab title="Setting" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/preference">
    <ion-nav-view name="tab-preference"></ion-nav-view>
  </ion-tab>

  <!-- Test Tab -->
  <ion-tab title="TTL" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/time-to-location">
      <ion-nav-view name="tab-time-to-location"></ion-nav-view>
  </ion-tab>


</ion-tabs>
