/* Empty. Add your own CSS if you like */

#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

#search-form {
	position: absolute;
	top:50px;
	z-index: 10;
	margin:0 auto;

}

/*Search*/
#search .info-label{
	color: #387ef5;
	font-size: 20px;
	font-weight: bold;
}

#search .row{
	padding: 0;
}

#search-btn{
	width: 60%;
	margin: 30px auto;
}

.group-list .tag{ 
	font-size: 30px;
	color: #387ef5;
}

.group-list p{
	padding-left: 20px;
	color: black;
}

.group-list i.green{
	color: green;
}

.group-list .icon.small{
	top: 20px;
	font-size: 10px;
	color: green;
}

/*Events*/
.event-profile .padding{
	padding-top: 5px;
}

.event-profile{
	width: 100%;
}


.event-caption{
	font-size: 20;
	font-weight: bold;
	color: white;
	padding: 0 0 0 0;
}

.event-catalog{
	margin-right: 5px;
	color: white;
	background-color: orange;
}

.event-date{
	background-color: #FF4938;
}

.event-description{
	background-color: #9FB9FF;
	min-height: 60px;
}
